.app {
  display: flex;
  justify-content: center;
}

.app .loading-bar {
  background-color: #ccc;
  padding: 10px 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  text-align: center;
}

.app .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

.app .container h1 {
  margin-bottom: 15px;
}

.app .container .result {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.app .container .result .result-item {
  padding: 10px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.app .container .result .result-item:hover {
  background-color: #eee;
}

.app .container .result .result-item .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.app .container .result .result-item .top .repo-name {
  display:flex;
  column-gap: 5px;
}

.app .container .result .result-item .top .right {
  text-align: right;
}

.app .container .pagination {
  display: flex;
  justify-content: center;
}

.app .container .pagination ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 40px 0;
}

.app .container .pagination ul li.selected {
  font-weight: bold;
}

.app .container .pagination ul li a {
  cursor: pointer;
}

.app .container .pagination ul li a:hover {
  text-decoration: underline;
}

.app .container .pagination ul li.disabled a {
  cursor: default;
}

/*
Input styles
*/

.input {
  font-size: 24px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}